@model IEnumerable<ExpenseTracker.Domain.Dto.ExpenseDetailDto>

@{
    ViewData["Title"] = "Index";
}
<div class="col-md-5 col-lg-10 offset-lg-3 offset-md-3 offset-sm-1 gx-2">
<h1>Index</h1>

<p>
    <a asp-controller="ExpenseDetailsContoller" asp-action="Create" class="btn btn-primary">Create New</a>
</p>
</div>
<div class="table-responsive-md col-md-5 col-lg-5 col-sm-3 offset-lg-3 offset-md-3 offset-sm-1">
<table class="table table-striped">
    <thead>
        <tr>
         @*   <th>
                @Html.DisplayNameFor(model => model.ExpenseDetailId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                  @*  <td>
                        @Html.DisplayFor(modelItem => item.ExpenseDetailId)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                   @* <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>*@
                    <td class="btn btn-outline-warning">
                         @Html.ActionLink("Edit", "Edit", new {  id=item.ExpenseDetailId  }) 
                        
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>