@model IEnumerable<ExpenseTracker.Domain.Dto.CategoryDto>

@{
    ViewData["Title"] = "Index";
}
<div class="col-md-5 col-lg-10 offset-sm-1 offset-md-3 offset-lg-3 gx-2">
<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
</div>
<div class="table-responsive-md col-md-5 col-lg-5 col-sm-1 offset-sm-1 offset-md-3 offset-lg-3">
    <table class="table table-striped">
    <thead>
        <tr>
         @*   <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>         
        @if (Model != null){
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
         
            <td class="btn btn-success">
               
                 @Html.ActionLink("Edit", "Edit", new {  categoryId=item.CategoryId  })
                
               @* @Html.ActionLink("Details", "Details", new {  categoryId=item.CategoryId  }) |
                @Html.ActionLink("Delete", "Delete", new {  categoryId=item.CategoryId  })*@
            </td>
        </tr>
}
}
    </tbody>
</table>
</div>
